# 第四次课作业

In [1]:
import numpy as np
import pandas as pd

（1）读取上次作业保存的数据，酒店数据1.xlsx

In [2]:
df = pd.read_excel('酒店数据1.xlsx')

（2）查看“评分”的格式，并分别进行升序和降序排序

In [3]:
df['评分'].dtype

dtype('float64')

In [4]:
df.sort_values(by='评分')#默认升序

,Unnamed: 0,名字,类型,城市,地区,地点,评分,评分人数,价格
384,384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429
281,281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
279,279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
359,359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
331,331,香港欣欣宾馆(家庭旅馆)(YAN YAN GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道40号重庆大厦E座8字楼E1室,2.3,6,977
...,...,...,...,...,...,...,...,...,...
82,82,香港半岛酒店(The Peninsula Hong Kong),海滨风光,香港,油尖旺,尖沙咀梳士巴利道,4.8,3693,3862
14,14,迪士尼探索家度假酒店(Disney Explorers Lodge),海滨风光,香港,离岛,迪士尼乐园度假区,4.8,4794,1662
116,116,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461,12926
210,210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395

In [5]:
df.sort_values(by='评分',ascending=False)#降序

,Unnamed: 0,名字,类型,城市,地区,地点,评分,评分人数,价格
210,210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395
198,198,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921,190
14,14,迪士尼探索家度假酒店(Disney Explorers Lodge),海滨风光,香港,离岛,迪士尼乐园度假区,4.8,4794,1662
116,116,香港四季酒店(Four Seasons Hotel Hong Kong),海滨风光,香港,中西区,中环 金融街8号,4.8,3461,12926
...,...,...,...,...,...,...,...,...,...
352,352,香港京华宾馆(佐敦),地铁周边,香港,其他地区,九龙佐敦南京街19-21号3楼2/F,2.3,40,328
359,359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
279,279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
281,281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
384,384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429

（3）对酒店按照价格进行排名，计算“油尖旺”地区的均价。

In [7]:
df.sort_values(by='价格')
df[df['地区']=='油尖旺']['价格'].mean()

544.3621621621621

（4）对酒店数据进行描述性统计，并求所有价格的均值方差，最大最小值，中值。

In [31]:
df.describe()#对dataframe中的数值数据进行描述性统计
df['价格'].mean(),df['价格'].var(),df['价格'].max(),df['价格'].min(),df['价格'].median()

(682.3156565656566, 823256.5203618469, 12926, 67, 416.5)

（5）计算评分和价格之间的的相关系数，协方差

In [11]:
df[['评分','价格']].corr()

          评分        价格
评分  1.000000  0.288901
价格  0.288901  1.000000

In [12]:
df[['评分','价格']].cov()

            评分             价格
评分    0.234598     126.963415
价格  126.963415  823256.520362

（6）按照评分降序排序，评分相同时按价格升序排序。

In [13]:
df.sort_values(by=['评分','价格'],ascending=[False,True])

,Unnamed: 0,名字,类型,城市,地区,地点,评分,评分人数,价格
210,210,香港李女士宾馆(家庭旅馆)(MS LI GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道58号美丽都大厦E座5字楼E1室,4.9,7,351
332,332,香港新金冠宾馆(New Golden Crown Guest House),客栈,香港,油尖旺,尖沙咀弥敦道68号金冠大厦13楼C室,4.9,10,395
316,316,香港尊贵旅馆(Hong Kong Premium Guest House),其他类型,香港,油尖旺,"尖沙咀弥敦道56-58号美丽都大厦16字楼B2,A5室（前台入住办理设在16字楼A2室）",4.8,19,166
198,198,香港鸣人宾馆(Naruto Inn),地铁周边,香港,油尖旺,尖沙咀弥敦道83-97号华源大厦10F B4室,4.8,921,190
74,74,香港和平客栈(HK Peaceful Guesthouse),民宿,香港,其他地区,尖沙咀弥敦道58号美丽都大厦13楼B1室于13楼C2室登记入住,4.8,511,264
...,...,...,...,...,...,...,...,...,...
331,331,香港欣欣宾馆(家庭旅馆)(YAN YAN GUEST HOUSE),地铁周边,香港,油尖旺,弥敦道40号重庆大厦E座8字楼E1室,2.3,6,977
359,359,香港港龙酒店(Comfort Lodge Hong Kong),地铁周边,香港,油尖旺,香港九龙佐敦德兴街7-8号（礼苑，接待处位于A座2楼）,2.2,18,492
279,279,香港经济型酒店 (家庭旅馆)(Hong Kong Budget Hostel),地铁周边,香港,油尖旺,"弥敦道36-44号重庆大厦10字楼D,E座D8& E2室",2.0,29,67
281,281,"巴黎旅馆(Paris Guest House (D2, 10/F))",其他类型,香港,其他地区,"Flat D2, 10/F, Block D, Chungking Mansion, 40 ...",2.0,5,67
384,384,香港中 港酒店(家庭旅馆)(HK-China Hotel),地铁周边,香港,油尖旺,碧街33-39号永华大厦1楼（油麻地地铁站A1出口直走50米）,1.5,7,429

（7）计算一下，评分小于3分的酒店数量和占比。

In [17]:
len(df[df['评分']<3]),len(df[df['评分']<3])/len(df)

(12, 0.030303030303030304)

（8）计算一下，酒店评分大于等于4分的酒店的价格均值。

In [19]:
df[df.评分>=4]['价格'].mean()

743.165191740413

（9）计算出每个地区的酒店占总酒店数量的比例。

In [22]:
df['地区'].value_counts()/len(df)*100

油尖旺     46.717172
其他地区    14.141414
湾仔      10.353535
中西区      8.333333
九龙城      5.303030
东区       4.040404
离岛       2.777778
观塘       1.767677
荃湾       1.767677
葵青       1.262626
南区       1.262626
沙田       1.010101
屯门       0.505051
深水埗区     0.252525
元朗       0.252525
罗湖区      0.252525
Name: 地区, dtype: float64

（10）找出酒店评分人数排名前20的酒店，并计算他们的价格均值。

In [23]:
df1 = df.sort_values(by='评分人数',ascending=False)[:20]
df1['价格'].mean()

1111.8

（11）查看酒店分布的类型数量和地区数量，并统计各个类型和地区包含的酒店数量。

In [24]:
df['类型'].unique()

array(['浪漫情侣', '商务出行', '海滨风光', '休闲度假', '地铁周边', '交通方便', '亲子酒店', '其他类型',
       '民宿', '印象好', '酒店公寓', '青年旅舍', '客栈', '火车站周边', '老板热情', '环境不错', '干净卫生',
       '大学周边'], dtype=object)

In [25]:
df['地区'].unique()

array(['东区', '油尖旺', '湾仔', '观塘', '中西区', '南区', '离岛', '九龙城', '荃湾', '屯门',
       '葵青', '其他地区', '沙田', '元朗', '深水埗区', '罗湖区'], dtype=object)

In [26]:
df['类型'].value_counts()

地铁周边     172
浪漫情侣      68
海滨风光      61
休闲度假      30
其他类型      20
商务出行      13
民宿         6
亲子酒店       5
酒店公寓       5
青年旅舍       4
环境不错       3
客栈         3
老板热情       1
大学周边       1
印象好        1
火车站周边      1
干净卫生       1
交通方便       1
Name: 类型, dtype: int64

In [27]:
df['地区'].value_counts()

油尖旺     185
其他地区     56
湾仔       41
中西区      33
九龙城      21
东区       16
离岛       11
观塘        7
荃湾        7
葵青        5
南区        5
沙田        4
屯门        2
深水埗区      1
元朗        1
罗湖区       1
Name: 地区, dtype: int64

（12）用数据透视表，计算每个类型的酒店的评分人数总数量。

In [28]:
pd.pivot_table(df,index=['类型'],values=['评分人数'],aggfunc=np.sum)

         评分人数
类型
交通方便      152
亲子酒店    11492
休闲度假   219657
其他类型     4858
印象好        68
商务出行     9630
地铁周边    91323
大学周边       23
客栈        229
干净卫生      146
民宿       2493
浪漫情侣   238436
海滨风光   394600
火车站周边     578
环境不错     1327
老板热情       48
酒店公寓     1967
青年旅舍     2605

（13）用数据透视表，计算每个类型的酒店价格的均值和标准差

In [29]:
pd.pivot_table(df,index=['类型'],values=['价格'],aggfunc=[np.mean,np.std])

              mean          std
                价格           价格
交通方便    421.000000          NaN
亲子酒店    745.400000   546.616227
休闲度假   1151.300000   831.027704
其他类型    269.300000   199.264727
印象好     297.000000          NaN
商务出行   1045.153846   870.595663
地铁周边    374.139535   377.604830
大学周边    325.000000          NaN
客栈      397.666667   154.017315
干净卫生    185.000000          NaN
民宿      258.500000   127.000394
浪漫情侣    608.573529   303.356119
海滨风光   1543.573770  1746.828349
火车站周边   968.000000          NaN
环境不错    357.666667   161.283394
老板热情    385.000000          NaN
酒店公寓   1182.000000   697.624899
青年旅舍    189.250000   116.851401

（14）用数据透视表，计算每个地区酒店价格和评分的最大值和最小值<br/>
通过列表获取多个值

In [32]:
pd.pivot_table(df,index=['地区'],values=['价格','评分'],aggfunc=[np.max,np.min])

       amax           amin
         价格        评分   价格        评分
地区
东区     1908  4.700000  331  4.200000
中西区   12926  4.800000  254  3.800000
九龙城    1742  4.800000  137  3.700000
元朗      425  4.500000  425  4.500000
其他地区   1450  4.800000   67  2.000000
南区      553  4.400000  185  3.800000
屯门      696  4.700000  582  4.500000
沙田     1052  4.700000  569  4.400000
油尖旺    3862  4.900000   67  1.500000
深水埗区    648  4.300000  648  4.300000
湾仔     2856  4.700000  131  3.400000
离岛     1667  4.800000  352  2.900000
罗湖区     506  4.282973  506  4.282973
荃湾      709  4.500000  225  4.300000
葵青      423  4.400000  196  3.400000
观塘     1132  4.600000  448  4.200000

（15）用数据透视表，计算每个地区和类型的酒店的评分的均值和标准差

In [33]:
pd.pivot_table(df,index=['地区','类型'],values=['评分'],aggfunc=[np.mean,np.std])

             mean       std
               评分        评分
地区 类型
东区 其他类型  4.600000       NaN
   商务出行  4.500000  0.000000
   客栈    4.282973       NaN
   浪漫情侣  4.425000  0.150000
   海滨风光  4.512500  0.155265
...           ...       ...
葵青 浪漫情侣  4.200000  0.230940
观塘 休闲度假  4.600000  0.000000
   其他类型  4.200000       NaN
   浪漫情侣  4.550000  0.070711
   海滨风光  4.500000  0.141421

[72 rows x 2 columns]